<div class="baseContainer">

    <div id="messageBox" class="alert alert-dismissible fade show mb-0 text-center">
        <span id="message"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="row">
        <div class="summary">
            <span>Level: <span id="level">0</span>, </span>
            <span>Scores: <span id="scores">0</span> </span>
        </div>
    </div>

    <textarea class="col-12" id="questionArea"></textarea>

    <div class="row justify-content-around my-2 text-nowrap">
        <div class="col-3 d-flex justify-content-center align-items-center">
            <span>Overall: <span id="overall">0</span></span>
        </div>
        <div class="col-3 d-flex justify-content-center">
            <button class="btn btn-primary p-3" id="showAnswer" type="button">Show</button>
        </div>
        <div class="col-3 d-flex justify-content-center update-group">
            <div class="btn-group">
                <button class="btn btn-outline-secondary" id="replaceMemos" type="button">
                    <i class="fa fa-exchange"></i>
                </button>
                <button class="btn btn-outline-primary" id="updateButton" type="button">
                    <i class="far fa-save"></i>
                </button>
            </div>
        </div>
    </div>

    <textarea class="col-12" id="answerArea"></textarea>

    <div class="row">
        <div class="mx-auto my-2">
            <form id="answerForm" method="post">
                <div class="btn-group">
                    <%if (mode == "Repeat") { %>
                        <input type="submit" name="answer" class="btn btn-danger" value="Bad" />
                        <input type="submit" name="answer" class="btn btn-warning" value="Tomorrow" />
                    <% } %>
                    <input type="submit" name="answer" class="btn btn-primary" value="Later" />
                    <input type="submit" name="answer" class="btn btn-success" value="Cool" />
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="mx-auto">
            <div class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add new Memo</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </a>
            </div>
            <div class="modal-body">
                <textarea class="col-md-12" id="addQuestionArea"></textarea>
                <textarea class="col-md-12" id="addAnswerArea"></textarea>
            </div>
            <div class="modal-footer">
                <input id="submitNewMemo" type="button" class="btn btn-primary" value="Add" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="findModal" tabindex="-1" aria-labelledby="findModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Find Memo</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </a>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <select class="col-10 col-sm-3" id="findKey">
                        <option value=" ">*</option>
                        <option value="id">Id</option>
                        <option value="question">Question</option>
                        <option value="answer">Answer</option>
                        <option value="repeatDate">Repeat date</option>
                        <option value="postponeLevel">LVL</option>
                        <option value="scores">Scores</option>
                    </select>
                    <input class="col-10 col-sm-6" type="text" id="findValue" />
                    <input class="col-10 col-sm-2 btn btn-primary" type="button" id="findNewMemo" value="Find" />
                </div>
            </div>
            <div id="jsGrid"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="finishModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Finished</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </a>
            </div>
            <div class="modal-body">
                <p>There is nothing to <span id="finishMessage"></span> more!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="/main-bundle.js"></script>