<div class="register-form">
    <div class="row justify-content-center">
        <h2 class="col-auto">Register to proceed</h2>
    </div>
    <div class="row justify-content-center">
        <form id="register-form" method="post" class="col-lg-4 my-3">
            <div class="form-group">
                <label for="login">Email</label>
                <input type="text" id="login" name="login" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="passwordInput">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="confirmPassword">Repeat password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Repeat password">
            </div>
            <%if (message) {%>
                <div class="error-box">
                    <p><%=message%></p>
                </div>
            <%}%>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
</div>

<style>
    footer {
        display: none;
    }
</style>

<script src="/validate-bundle.js"></script>