<div class="error404Block">
    <div class="errorCode">
        <p>4<span class="zero">0</span>4</p>
    </div>

    <div class="errorMessage">
        <p>I think this is definitely not what you were looking for...</p>
    </div>
</div>


<style>
    footer {
        display: none;
    }
</style>