$mainFont: Verdana, Arial, Helvetica, sans-serif;

body {
  padding-top: 70px;
}

.dropdown-divider {
  border-color: gray;
}

.navbar-brand img {
  height: 35px;
  width: 35px;
  margin-right: 5px;
}

.baseContainer {
  font-family: $mainFont;

  textarea {
    height: 200px;
    text-align: center;
    font-weight: bold;
    resize: none;
  }

  #message {
    position: relative;
    left: 15px;
  }

  #messageBox {
    display: none;
  }

  #answerForm {
    visibility: hidden;

    input {
      padding: 15px 20px;
    }
  }

  .update-group {
    visibility: hidden;
  }

  .fa-exchange {
    transform: rotate(90deg);
  }

  .summary {
    margin: 0.25em auto;
  }

  .login-form,
  .register-form {
    margin-top: 3rem;
  }
}

.error-box {
  margin-top: 10px;
  color: red;

  p {
    margin-bottom: 0;
  }
}

@import "modal";
@import "loader";
@import "error";
@import "media";
@import "slider";
